<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Create/Update Customer</title>
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<style type="text/tailwindcss">
		@theme {
			--color-clifford: #da373d;
		}
		input {
			@apply border-1;
		}
		textarea {
			@apply border-1;
		}
		.btn {
			@apply border-1 w-36 p-2 hover:bg-gray-200 hover:cursor-pointer;
		}
	</style>
	<style type="text/css">
		@view-transition {
			navigation: auto;
		}

		main {
			view-transition-name: content;
		}

		::view-transition-group(content) {
			animation: fade 250ms linear both;
		}

		@keyframes fade {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}
	</style>
</head>

<body class="p-2">
	<h1 class="text-xl">CMS</h1>
	<img width="25%" src="https://upload.wikimedia.org/wikipedia/commons/1/1c/CMS_logo.JPG">
	{% block content %}
	<main></main>
	{% endblock content %}
</body>

</html>