{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Experiments</title>
    <link rel="icon" href="{% url 'favicon' %}" type="image/x-icon">
    <script src="{% static 'js/htmx.min.js' %}"></script>
</head>

<body>
    <h1>Hello World</h1>
    <p>This project contains some experiments with:</p>
    <ul>
        <li><a href="{% url 'fact' %}">SSE and LLM integration</a></li>
        <li><a href="{% url 'spv' %}">Django template partials and HTMX</a></li>
        <li><a href="{% url 'chat' %}">Chat app with SSE</a></li>
        <li>
            <a href="https://github.com/nearform/temporal_tables/blob/master/versioning_function.sql">Temporal
                tables</a>
        </li>
        <li>Nginx Unit for serving Django ASGI applications</li>
        <li>UV for package management within containerized builds</li>
        <li>Multi stage container builds</li>
        <li>Granian</li>
        <li>Postgres LISTEN NOTIFY</li>
        <li>ASGI send-path</li>
        <li>ZMQ IPC Pub/Sub</li>
        <li><a href="{% url 'valkey' %}">Valkey IPC Pub/Sub</a></li>
        <li><a href="{% url 'valkey_2' %}">Valkey IPC Pub/Sub</a></li>
        <li><a href="{% url 'datastar' %}">Datastar</a></li>
    </ul>
</body>

</html>