{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SIO</title>
	<script src="{% static 'js/socket.io.min.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="p-2">
	<h1 class="text-6xl">SIO</h1>
	<div class="flex flex-row gap-2">
		<div id="clients" class="basis-1/2 border-1 h-[40vh]"></div>
		<div id="tracker" class="basis-1/2 border-1 h-[40vh]"></div>
	</div>
	<script>
		var connectedClients = {};
		const socket = io({
			query: { username: "{{ username }}" },
			transports: ["websocket"],
		});
		const clients = document.getElementById("clients");
		const tracker = document.getElementById("tracker");
		const renderClients = () => {
			let items = Object.entries(connectedClients).map(([username, data]) => {
				return `<li>${username}: x=${data.clientX} y=${data.clientY}</li>`;
			});
			clients.innerHTML = `<ul>${items.join("")}</ul>`;
		}
		socket.on("connected", (e) => {
			let connectedSids = e.connectedSids;
			connectedSids.forEach((sid) => {
				let clientX = "";
				let clientY = "";
				if ( sid in connectedClients ) {
					clientX = connectedClients[sid].clientX;
					clientY = connectedClients[sid].clientY;
				};
				connectedClients[sid] = { clientX: clientX, clientY: clientY }
			})
			renderClients();
		})
		socket.on("disconnected", (e) => {
			let connectedSids = e.connectedSids;

			connectedSids.forEach((sid) => {
				if ( !connectedClients.hasOwnProperty(sid) ) {
					connectedClients[e.sid] = { clientX: "", clientY: "" };
				}
			})
			Object.keys(connectedClients).forEach(sid => {
				if ( !connectedSids.includes(sid) ) {
					delete connectedClients[e.sid]
				}
			})
			renderClients();
		})
		socket.on("mousemove_pub", (e) => {
			connectedClients[e.sid] = { clientX: e.clientX, clientY: e.clientY };
			renderClients();
		});
		tracker.addEventListener("mousemove", (e) => {
			socket.emit("mousemove", { clientX: e.clientX, clientY: e.clientY });
		});
	</script>
</body>

</html>