<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Speculation Rules</title>
	<style>
		@view-transition {
			navigation: ;
		}

		main {
			view-transition-name: content;
		}

		::view-transition-group(content) {
			animation: fade 250ms linear both;
		}

		@keyframes fade {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}
	</style>
</head>

<body>
	<script type="speculationrules">
		{
			"prefetch": [
		      {
  		        "source": "list",
		        "urls": [
		        	"{% url 'speculation' %}",
		        	"{% url 'speculation_a' %}",
		        	"{% url 'speculation_b' %}"
		        ],
		        "eagerness": "moderate"
		      }
			]
		}
	</script>
	<h1>Speculation Rules</h1>
	<a href="{% url 'speculation' %}">Home</a>
	<a href="{% url 'speculation_a' %}">A</a>
	<a href="{% url 'speculation_b' %}">B</a>

	<main>
		{% block content %}
		<h1>Index</h1>
		{% endblock %}
	</main>
</body>

</html>